*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


header{
    background-color: white;
    padding-top: 16px;
}

.extra:hover{
    background-color:#627382;
}

/*------------navbar-------------*/

.btn{
    width: 164px;
    cursor: pointer;
    background-color: #469165;
    padding: 12.5px 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}


nav{
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
  margin-left: 346px;
  width: 365px;
  display: flex;
  gap:32px;
}

nav .menu li{
    cursor: pointer;
    text-decoration: none;
}

nav .logo{
    margin-left: 120px;
}

nav .btn{
    margin-left: 346px;
    width: 164px;
    cursor: pointer;
    background-color: #469165;
    padding: 12.5px 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}

/*--------------Banner------------*/

#banner{
    
    display: flex;
    justify-content: center;
    padding: 115.5px 120px;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 674px;
}

#banner .banner-content{
    width: 1360px;
    border: 115.5px 120px 179.5px 120px;
    padding-left: 295px;
    
}

.banner-content .access-btn-div{
    margin:0 270.5px 16px 270.5px;
}


.banner-content .access-btn-div .access-btn{
    width: 235px;
    padding:10px;
    padding-left:17px;
    color: #469165;
    background-color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background: url("../assets/dot\ icon.png"),white;
    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;
}


.banner-content .banner-text h1{
    font-size: 72px;
    font-weight: bold;
    margin:16px 50px;
    width: 800px;
}


.banner-text h1 .white{
    color:white;
}
.banner-text h1 .green{
    color:#30B868;
}

.banner-content .banner-text p{
    width: 700px;
    font-size: 18px;
    line-height: 34px;
    margin-left:70px;
    margin-bottom: 32px;
    color: white;
}

.banner-content .buttons{
    margin: 0 180px;
    display: flex;
    gap:16px
    
}

.banner-content .buttons .start{
    width:251px;
}

.banner-content .buttons .how-its-work-btn{
    width: 198px;
    cursor: pointer;
    background-color: transparent;
    padding: 12.5px 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid white;
}



/*---------------------Note------------------*/

#notes{
    padding: 0 120px;
    
    height: 448px;
    background-color: white;
}

#notes .section-heading{
    padding-top:50px;
    padding-left: 350px;
}

#notes .section-heading h1{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}

#notes .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-left:30px;
    word-spacing: -1.5px;
    letter-spacing: -0.1px;
}

#notes .note-box{
    display:flex;
    gap: 24px;
    justify-self: center;
    text-align: center;
}

#notes .note-box .note-card{
    padding: 24px;
    max-width: 267px;
    box-shadow: 0 0 8px 0 #a6a5a55f;
    margin-top: 44px;
    width: 322px;
    height: 259.5px;
}

#notes .note-box .note-card .note-logo{
    background-color: #f95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-self: center;
    text-align: center;
}

.note-box .note-card .note-logo img{

    width: 32px;
    height: 32px;
    margin: 13px 14px;
    
}


/*--------------------Banner2----------------*/

#banner2{
    padding-top: 120px;
}

#banner2 .banner2-container{
    display: flex;
    gap: 60px;
}

#banner2 .banner2-container .banner2-content{
    margin-top: 102px;
    width: 700px;
}

.banner2-container .banner2-content .green-text{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.banner2-container .banner2-content .banner2-header{
    width: 700px;
}

.banner2-content .banner2-header h1{
    font-size: 48px;
    font-weight: bold;
    text-wrap-style:balance;
    margin-bottom: 16px;
}

.banner2-content .banner2-header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.banner2-container .task p{
    margin-bottom: 16px;
}

.banner2-container .task img{
    margin: -4px 4px;
}

/*---------------challenge------------*/

#challenge{
    
    height: 506px;
}

#challenge .challenge-container{
    margin: 0 auto;
    width: 1360px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}

#challenge .challenge-container .challenge-header{
    width: 1280px;
    height: 112px;
    padding-left: 300px;
}

.challenge-container .challenge-header h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.challenge-container .challenge-header p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    
}

.challenge-container .challenge-header .middle-line{
    padding-left: 150px;
}

.challenge-container .early-access-btn{
    margin-left:490px;
    margin-top: 24px;
    width: 194px;
    height: 52px;
}

.challenge-container .challenge-text {
    padding-left: 390px;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}

/*-------------Footer----------------*/

footer{
    
    background-color: #001931;
    padding: 120px;
}

footer nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

footer nav .social-box p{
    font-size: 20px;
    line-height: 28px;
    color: white;
    font-weight: 400;
}
footer nav .social-box{
    margin-left: 790px;
}

footer nav .social-box .social-card-box {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    width: 220px;
}

footer nav .social-box .social-card-box a{
    list-style-type: none;
    background-color: white;
    border-radius: 50%;
    color: black;
    width: 20px;
    height: 20px;
}

footer .copyright{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 30px;
}